Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

chore(deps): update anchore/scan-action digest to 3343887
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to e8893c5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.7
  Dockerfile
Labels: none

chore(deps): update golang docker tag to v1.22.0
  Dockerfile
Labels: none

chore(deps): update renovatebot/github-action action to v40.0.3
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.8.0
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to e675ced
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.88.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to ece8414
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 3796146
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.1
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.8.1
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to e2e140a
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 47b3d88
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.2
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action digest to 0d103c3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.89.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 8a470fd
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.8.2
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.9.0
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.3
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 9fece9e
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.22.1
  Dockerfile
Labels: none

chore(deps): update docker/build-push-action digest to af5a7ed
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.4
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 9bb5618
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 3ab4101
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.90.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update docker/login-action digest to e92390c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

update to go 1.22.1 add basic metrics, i'm still noob
  go.mod
  go.sum
  pkg/api/ip.go
  pkg/cmd/ddns.go
  pkg/ip/icanhazip.go
  pkg/ip/ipify.go
  pkg/metrics/prometheus.go
  pkg/provider/ip.go
Labels: area/go

chore(deps): update renovatebot/github-action action to v40.1.5
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 2cdde99
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action digest to 2b51285
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 05963f4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.91.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 1b1aada
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.6
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.9.1
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to ab5d7b5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "cmd/**"
      - any-glob-to-any-file: "pkg/**"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
