Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.92.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v40.1.7
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.9.2
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.22.2
  Dockerfile
Labels: none

chore(deps): update actions/create-github-app-token action to v1.9.3
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 4355270
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action digest to d70bba7
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.8
  .github/workflows/renovate.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.93.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v40.1.9
  .github/workflows/renovate.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v2
  go.mod
  go.sum
  pkg/api/cloudflare.go
Labels: area/go

update to cloudflare-go v2
  pkg/api/cloudflare.go
  pkg/cmd/ddns.go
Labels: area/go

chore(deps): update github/codeql-action digest to df5a14d
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update pascalgn/size-label-action action to v0.5.1
  .github/workflows/meta-labeler.yaml
Labels: area/ci

chore(deps): update pascalgn/size-label-action action to v0.5.2
  .github/workflows/meta-labeler.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to c7f9125
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.10
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 1d96c77
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 8f596b4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go/v2 to v2.1.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update actions/checkout digest to 0ad4b8f
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to d39d31e
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 7ccf588
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.11
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.10.0
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.22.3
  Dockerfile
Labels: none

chore(deps): update github/codeql-action digest to ccf74c9
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 44c2b7a
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go/v2 to v2.2.0
  go.mod
  go.sum
Labels: area/go

fix(deps): update module github.com/prometheus/client_golang to v1.19.1
  go.mod
  go.sum
Labels: area/go

chore(deps): update actions/checkout digest to 0ad4b8f
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to b7cec75
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to a5ac7e5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to e8d2a69
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 9fdb3e4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/login-action digest to 0d4c9c5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to f079b84
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.10.1
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.1.12
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 2e230e8
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "cmd/**"
      - any-glob-to-any-file: "pkg/**"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
