Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

chore(deps): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.5
  Dockerfile
Labels: none

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.83.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update actions/create-github-app-token action to v1.6.2
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/ci

add scorecard
  .github/renovate.json5
Labels: area/ci

chore(deps): update github/codeql-action digest to c0d1daa
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

update to go 1.21
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 305f654
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action action to v3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.84.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 012739e
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 7191336
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to 6516126
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.85.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to e5f05b8
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to c7f031d
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to 1d59d90
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

update readme, add support for icanhazip through interface
  README.md
  pkg/api/cloudflare.go
  pkg/api/ip.go
  pkg/cmd/ddns.go
  pkg/ip/icanhazip.go
  pkg/ip/icanhazip_test.go
  pkg/ip/ipify.go
  pkg/ip/ipify_test.go
  pkg/ipify/ipify.go
  pkg/provider/ip.go
Labels: area/go

chore(deps): update actions/create-github-app-token action to v1.6.3
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.6
  Dockerfile
Labels: none

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.86.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 0b21cf2
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 41f7a6c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to 0550541
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.6.4
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 24b0d52
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to c35e932
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to b7bf0a3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.7.0
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to c6aed38
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to a9603d0
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to 1c57367
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 767b08f
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.87.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update anchore/sbom-action digest to b6a39da
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "cmd/**"
      - any-glob-to-any-file: "pkg/**"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
