Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

remove required dependency to cloudflare-sdk
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  README.md
  go.mod
  go.sum
  pkg/api/cloudflare.go
  pkg/api/provider.go
  pkg/cmd/ddns.go
Labels: area/ci, area/go

remove required dependency to cloudflare-sdk
  go.mod
  go.sum
  pkg/cmd/ddns.go
Labels: area/go

add support for route53
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  cmd/ddns.go
  go.mod
  go.sum
  pkg/api/route53.go
  pkg/cmd/ddns.go
  pkg/ip/icanhazip.go
  pkg/ip/icanhazip_test.go
  pkg/ip/ipify.go
  pkg/ip/ipify_test.go
  pkg/metrics/prometheus.go
  pkg/provider/ip.go
Labels: area/ci, area/go

more route53 changes
  pkg/api/route53.go
  pkg/cmd/ddns.go
Labels: area/go

Multiple Changes - Refactor of packages
  .github/workflows/release.yaml
  Dockerfile
  README.md
  cmd/ddns.go
  go.mod
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/provider.go
  pkg/cmd/ddns.go
  pkg/ip/icanhazip_test.go
  pkg/ip/ipify_test.go
  pkg/ipprovider/base_provider.go
  pkg/ipprovider/icanhazip.go
  pkg/ipprovider/icanhazip_test.go
  pkg/ipprovider/ip.go
  pkg/ipprovider/ipify.go
  pkg/ipprovider/ipify_test.go
  pkg/metrics/prometheus.go
  pkg/provider/ip.go
Labels: area/ci, area/go

update ci/cd workflows
  .github/workflows/ci.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/release.yaml
Labels: area/ci

feat(cloudflare): remove required dependency to cloudflare-sdk (#301)
  .github/workflows/ci.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/release.yaml
  Dockerfile
  README.md
  cmd/ddns.go
  go.mod
  go.sum
  pkg/api/cloudflare.go
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/provider.go
  pkg/cmd/ddns.go
  pkg/ip/icanhazip_test.go
  pkg/ip/ipify_test.go
  pkg/ipprovider/base_provider.go
  pkg/ipprovider/icanhazip.go
  pkg/ipprovider/icanhazip_test.go
  pkg/ipprovider/ip.go
  pkg/ipprovider/ipify.go
  pkg/ipprovider/ipify_test.go
  pkg/metrics/prometheus.go
  pkg/provider/ip.go
Labels: area/ci, area/go

fix mistake in release.yaml for releases + add paths
  .github/workflows/release.yaml
Labels: area/ci

fix mistake in release.yaml for releases + add paths
  .github/workflows/release.yaml
  pkg/cloudprovider/cloudflare/cloudflare.go
Labels: area/ci, area/go

add 2 new variables
  README.md
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/provider.go
  pkg/cmd/ddns.go
Labels: area/go

add application modes, api only, app and serverless
  cmd/ddns.go
  pkg/cmd/ddns.go
Labels: area/go

fix switch case should be comma separated rather than stacked
  pkg/cmd/ddns.go
Labels: area/go

fix switch case should be comma separated rather than stacked (#323)
  pkg/cmd/ddns.go
Labels: area/go

start rework, add modes, interfaces etc.
  README.md
  cmd/ddns.go
  pkg/cmd/core.go
  pkg/cmd/ddns.go
  pkg/cmd/serverless.go
  pkg/handlers/handlers.go
  pkg/modes/api.go
  pkg/modes/app.go
  pkg/modes/container.go
  pkg/modes/serverless.go
Labels: area/go

oops, invalid license for 2 years
  LICENSE
Labels: none

remove renovate, use global configuration
  .github/workflows/renovate.yaml
Labels: area/ci

update for loop
  cmd/ddns.go
  pkg/cmd/ddns.go
Labels: area/go

rework code, add gitlab ci
  .gitlab-ci.yml
  README.md
  go.mod
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/cloudflare/cloudflare_test.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider_test.go
  pkg/cmd/ddns.go
Labels: area/go

rework code, add gitlab ci (#472)
  .gitlab-ci.yml
  README.md
  go.mod
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/cloudflare/cloudflare_test.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider_test.go
  pkg/cmd/ddns.go
Labels: area/go

initial attempt
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/provider.go
  pkg/cmd/ddns.go
Labels: area/go

update readme
  README.md
Labels: none

add arg to tests
  pkg/cloudprovider/cloudflare/cloudflare_test.go
  pkg/cloudprovider/provider_test.go
Labels: area/go

feat: add arg to create records as "dns-only" (non-proxied) (#510)
  README.md
  pkg/cloudprovider/cloudflare/cloudflare.go
  pkg/cloudprovider/cloudflare/cloudflare_test.go
  pkg/cloudprovider/provider.go
  pkg/cloudprovider/provider_test.go
  pkg/cmd/ddns.go
Labels: area/go

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "cmd/**"
      - any-glob-to-any-file: "pkg/**"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
