Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/go:
  - changed-files:
      - any-glob-to-any-file: "cmd/**"
      - any-glob-to-any-file: "pkg/**"
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

chore(deps): update golang docker tag to v1.22.4
  Dockerfile
Labels: none

chore(deps): update docker/build-push-action digest to ca052bb
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 530d4fe
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 23acc5c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to 692973e
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action action to v6
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go/v2 to v2.3.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update docker/build-push-action digest to 94f8f8c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to f6010ea
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 31159d4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.10.2
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 1556069
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to b611370
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update actions/create-github-app-token action to v1.10.3
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.2.0
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.22.5
  Dockerfile
Labels: none

chore(deps): update docker/build-push-action digest to 1a16264
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-qemu-action digest to 5927c83
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action digest to 4fd8129
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.2.1
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.2.2
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to 95b086a
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action action to v4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 4fa2a79
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to a254f8c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/sbom-action digest to d94f46e
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update anchore/scan-action digest to d43cc1d
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go/v2 to v2.4.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update docker/build-push-action digest to 1ca370b
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 2d79040
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/login-action digest to 9780b0c
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v40.2.3
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 5176d81
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action digest to aa33708
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-qemu-action digest to 49b3bc8
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 5cf07d8
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

start reviewing metrics
  pkg/api/cloudflare_test.go
  pkg/ip/icanhazip.go
  pkg/metrics/http_middleware.go
  pkg/metrics/prometheus.go
Labels: area/go

add serverless mode
  cmd/ddns.go
  pkg/api/cloudflare.go
  pkg/cmd/ddns.go
Labels: area/go

change workflows to trigger on code changes
  .github/workflows/ci.yaml
Labels: area/ci

add synchronize
  .github/workflows/ci.yaml
Labels: area/ci
