Repository larivierec/cloudflare-ddns, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/go

chore(deps): pin dependencies
  .github/workflows/meta-labeler.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.76.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v39.0.4
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update tibdex/github-app-token digest to d6edb79
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update tibdex/github-app-token digest to 0d49dd7
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout action to v4
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 4e4ee68
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/build-push-action digest to 0a97817
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update tibdex/github-app-token digest to 32691ba
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update tibdex/github-app-token action to v2
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update docker/build-push-action action to v5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/login-action action to v3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-buildx-action action to v3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update docker/setup-qemu-action action to v3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.77.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 701f152
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module gotest.tools/v3 to v3.5.1
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update tibdex/github-app-token digest to 3beb63f
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

pin golang
  Dockerfile
Labels: none

chore(deps): update actions/checkout digest to 8ade135
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.78.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.2
  Dockerfile
Labels: none

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to fdcae64
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.3
  Dockerfile
Labels: none

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.79.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update github/codeql-action digest to d90b8d7
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

fix(deps): update module github.com/cloudflare/cloudflare-go to v0.80.0
  go.mod
  go.sum
Labels: area/go

chore(deps): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/ci

chore(deps): update github/codeql-action digest to 74483a3
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: area/ci

chore(deps): update golang docker tag to v1.21.4
  Dockerfile
Labels: none

.github/labeler.yaml:

---
area/ci:
  - ".github/**/*"
area/go:
  - "cmd/**"
  - "pkg/**"
  - "go.mod"
  - "go.sum"
